In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv('DADOS_ENEM_2012.csv', encoding='iso-8859-1', sep = ',')

In [31]:
df.head()

,NU_INSCRICAO,NU_ANO,IDADE,TP_SEXO,COD_MUNICIPIO_INSC,NO_MUNICIPIO_INSC,UF_INSC,ST_CONCLUSAO,ANO_CONCLUIU,TP_ESCOLA,...,DS_GABARITO_CH,DS_GABARITO_LC,DS_GABARITO_MT,IN_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
0,400000000001,2012,40,0,2933307,VITORIA DA CONQUISTA,BA,1,2003,.,...,NaN,NaN,NaN,F,.,.,.,.,.,.
1,400000000002,2012,18,0,2611606,RECIFE,PE,1,2011,.,...,EADBAABDCEBDDCEEEECEBCDADCEDAECABEEEAEEECACDA,ADDBBADACBAADAEBDDCEBEEEDECDABEACBDBAAAADEDAAB...,EABEEECBDADEDCCCBDEBDECDBCAEEBEDBDEDADBDDCABA,P,80,60,60,80,0,280
2,400000000003,2012,20,1,3301702,DUQUE DE CAXIAS,RJ,1,2011,.,...,NaN,NaN,NaN,F,.,.,.,.,.,.
3,400000000004,2012,30,0,5300108,BRASILIA,DF,1,2010,.,...,AABDEEEEEACEBCEBDBDDCCDDAECABEEECDACEADAEEECA,ADDBBADABCAADAAABAAAEBEDEABEDDCEBEEACBCDDBADED...,DEBDDEDAADEDEABEAEEEECCCBCABACBDBEDBDBDDECDBC,P,140,160,140,160,120,720
4,400000000005,2012,20,0,3304557,RIO DE JANEIRO,RJ,1,2010,.,...,NaN,NaN,NaN,F,.,.,.,.,.,.

In [32]:
totalGlobal = df.shape[0]
df['ID_DEPENDENCIA_ADM'].value_counts()

.    4265184
2    1182940
4     298591
1      26254
3      18096
Name: ID_DEPENDENCIA_ADM, dtype: int64

In [33]:
df.loc[df['ID_DEPENDENCIA_ADM'] == '.', ['ID_DEPENDENCIA_ADM']] = np.nan

In [34]:
df['ID_DEPENDENCIA_ADM'].value_counts()

2    1182940
4     298591
1      26254
3      18096
Name: ID_DEPENDENCIA_ADM, dtype: int64

In [35]:
print(totalGlobal)

5791065

In [36]:
df = df[pd.notnull(df['ID_DEPENDENCIA_ADM'])]

In [37]:
df.shape

(1525881, 80)

## Values NaN

In [38]:
nullvalues = (df.isnull().sum())
total_size = df.shape[0]
schools_without_null = 0
columns = list(df)
for idx, col in enumerate(columns):
    if col == 'ID_DEPENDENCIA_ADM':
        schools_without_null = total_size - nullvalues[idx]
    if nullvalues[idx] > 0:
        print(col + ' => '+str(nullvalues[idx]))
print('schools_without_null: ', schools_without_null)

NO_ENTIDADE_CERTIFICACAO => 1321103
UF_ENTIDADE_CERTIFICACAO => 1321103
TX_RESPOSTAS_CN => 242395
TX_RESPOSTAS_CH => 242395
TX_RESPOSTAS_LC => 266840
TX_RESPOSTAS_MT => 266840
DS_GABARITO_CN => 242665
DS_GABARITO_CH => 242665
DS_GABARITO_LC => 266871
DS_GABARITO_MT => 266871
schools_without_null:  1525881

## Porcentage of available data

In [39]:
# total = df.shape[0]

porcentage = (schools_without_null * 100) / totalGlobal
print(porcentage)

26.348884013562273

In [40]:
df.shape

(1525881, 80)

## Tipo de Escola

In [41]:
df['ID_DEPENDENCIA_ADM'].value_counts(sort = False)

3      18096
2    1182940
1      26254
4     298591
Name: ID_DEPENDENCIA_ADM, dtype: int64

In [53]:
a = df['ID_DEPENDENCIA_ADM'].value_counts(sort = False).to_dict()
values_percent_to_save = []
values_to_save = []
for idx, value in sorted(a.items()):
    x = (value * 100) / schools_without_null
    values_percent_to_save.append(x)
    values_to_save.append(value)
    print(idx, x, value)

1 1.7205797830892449 26254
2 77.52504946322813 1182940
3 1.185937828703549 18096
4 19.568432924979078 298591

In [52]:
# csv_input = pd.read_csv('results_for_school.csv')
df_aux = pd.DataFrame(values_percent_to_save, columns = ['2012'])
df_aux['2012_values'] = values_to_save

df_aux.head()
export_csv = df_aux.to_csv (r'results_for_school.csv', index = None, header=True)

## Alumno con necesidades especiales

In [44]:
df.shape

(1525881, 80)

In [45]:
array = ['IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL', 'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO', 'IN_AUTISMO', 'IN_SABATISTA', 'IN_OUTRA_DEF']
total_necesidades = 0
for item in array:
    try:
        aux = df[item].value_counts().to_dict()
        total_necesidades += aux[1]
    except:
        print('There is not elements on: ', item)
print('total_necesidades: ', total_necesidades)

aux = (total_necesidades * 100)/df.shape[0]
print(aux)

There is not elements on:  IN_SURDO_CEGUEIRA
There is not elements on:  IN_OUTRA_DEF
total_necesidades:  19455
1.2750011304944489

In [56]:
df_aux = pd.DataFrame([aux], columns = ['2012'])

df_aux['2012_values'] = total_necesidades
df_aux.head()

export_csv = df_aux.to_csv (r'results_special_needs.csv', index = None, header=True)

## Aluno por regiao

In [57]:
array_kinds_regions = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT']

df['UF_ESC'].value_counts()

SP    314950
MG    161649
RJ    121056
CE    105126
PR     89004
RS     77126
BA     75414
PE     65572
PA     59299
GO     50787
SC     45284
MA     43604
ES     36964
AM     33258
MT     29814
PI     29764
PB     28673
RN     26484
DF     25614
MS     24094
AL     17717
SE     17187
RO     15989
TO     12199
AC      8850
AP      6664
RR      3739
Name: UF_ESC, dtype: int64

In [58]:
df_SUL = df.loc[df['UF_ESC'].isin(['RS','SC','PR'])]
df_NORTE = df.loc[df['UF_ESC'].isin(['AC','AP','AM', 'PA', 'RO', 'RR', 'TO'])]
df_NORDESTE = df.loc[df['UF_ESC'].isin(['AL','BA','CE', 'MA', 'PB', 'PI', 'PE', 'RN', 'SE'])]
df_CENTROOESTE = df.loc[df['UF_ESC'].isin(['DF','GO','MT', 'MS'])]
df_SUDESTE = df.loc[df['UF_ESC'].isin(['ES','MG','RJ', 'SP'])]


print(df_SUL.shape[0])
print(df_NORTE.shape[0])
print(df_NORDESTE.shape[0])
print(df_CENTROOESTE.shape[0])
print(df_SUDESTE.shape[0])

211414
139998
409541
130309
634619

In [62]:
total = df.shape[0]
auxPercent = []
auxValues = []
auxSul =  (df_SUL.shape[0] * 100) / total
print('SUL: ', auxSul)
auxValues.append(df_SUL.shape[0])
auxPercent.append(auxSul)

auxNorte =  (df_NORTE.shape[0] * 100) / total
print('NORTE: ', auxNorte)
auxValues.append(df_NORTE.shape[0])
auxPercent.append(auxNorte)

auxNordeste =  (df_NORDESTE.shape[0] * 100) / total
print('NORDESTE: ', auxNordeste)
auxValues.append(df_NORDESTE.shape[0])
auxPercent.append(auxNordeste)

auxCentrooeste =  (df_CENTROOESTE.shape[0] * 100) / total
print('CENTROOESTE: ', auxCentrooeste)
auxValues.append(df_CENTROOESTE.shape[0])
auxPercent.append(auxCentrooeste)

auxSudeste =  (df_SUDESTE.shape[0] * 100) / total
print('SUDESTE: ', auxSudeste)
auxValues.append(df_SUDESTE.shape[0])
auxPercent.append(auxSudeste)

SUL:  13.855208892436567
NORTE:  9.17489633857424
NORDESTE:  26.83964214771663
CENTROOESTE:  8.539918905864875
SUDESTE:  41.59033371540769

In [66]:
regions = ['SUL', 'NORTE', 'NORDESTE', 'CENTROOESTE', 'SUDESTE']
df_aux = pd.DataFrame(regions, columns = ['Region'])

df_aux['2012'] = auxPercent
df_aux['2012_values'] = auxValues


export_csv = df_aux.to_csv (r'results_for_region.csv', index = None, header=True)