In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('MICRODADOS_ENEM_2013.csv', encoding='iso-8859-1', sep = ';')

In [4]:
df.head()

,NU_INSCRICAO,NU_ANO,COD_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,COD_UF_RESIDENCIA,UF_RESIDENCIA,IN_ESTUDA_CLASSE_HOSPITALAR,COD_ESCOLA,COD_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,...,Q067,Q068,Q069,Q070,Q071,Q072,Q073,Q074,Q075,Q076
0,130005702868,2013,4314902,PORTO ALEGRE,43,RS,0,NaN,NaN,NaN,...,B,B,B,B,A,B,B,B,B,C
1,130005702869,2013,1501402,BELEM,15,PA,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,130005702870,2013,2902500,BAIANOPOLIS,29,BA,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,130005702871,2013,3544004,RIO DAS PEDRAS,35,SP,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,130005702872,2013,2402006,CAICO,24,RN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
totalGlobal = df.shape[0]

In [6]:
df = df[np.isfinite(df['ID_DEPENDENCIA_ADM_ESC'])]

In [7]:
df.shape

(1635848, 166)

## Values NaN

In [8]:
nullvalues = (df.isnull().sum())
total_size = df.shape[0]
schools_without_null = 0
columns = list(df)
for idx, col in enumerate(columns):
    if col == 'ID_DEPENDENCIA_ADM_ESC':
        schools_without_null = total_size - nullvalues[idx]
    if nullvalues[idx] > 0:
        print(col + ' => '+str(nullvalues[idx]))
print('schools_without_null: ', schools_without_null)

IDADE => 87
COD_MUNICIPIO_NASCIMENTO => 12553
NO_MUNICIPIO_NASCIMENTO => 12553
COD_UF_NASCIMENTO => 12553
UF_NASCIMENTO => 12553
ANO_CONCLUIU => 1634179
TP_ESCOLA => 8970
IN_TP_ENSINO => 7297
IN_CERTIFICADO => 906166
NO_ENTIDADE_CERTIFICACAO => 1409005
COD_UF_ENTIDADE_CERTIFICACAO => 1409005
UF_ENTIDADE_CERTIFICACAO => 1409005
NOTA_CN => 243074
NOTA_CH => 243074
NOTA_LC => 271319
NOTA_MT => 271319
GABARITO_CN => 243074
GABARITO_CH => 243074
GABARITO_LC => 271319
GABARITO_MT => 271319
NU_NOTA_COMP1 => 88
NU_NOTA_COMP2 => 88
NU_NOTA_COMP3 => 88
NU_NOTA_COMP4 => 88
NU_NOTA_COMP5 => 88
Q040 => 987709
Q041 => 987709
Q042 => 987709
Q043 => 987709
Q044 => 987709
Q045 => 987709
Q046 => 987709
Q047 => 987709
Q048 => 987709
Q049 => 987709
Q050 => 987709
Q051 => 987709
Q052 => 987709
Q053 => 987709
Q054 => 1409005
Q055 => 1549469
Q056 => 1549469
Q057 => 1549469
Q058 => 1549469
Q059 => 1549469
Q060 => 1548518
Q061 => 1549469
Q062 => 1549469
Q063 => 1548518
Q064 => 1408993
Q065 => 1405590
Q066 => 1405590
Q067 => 1405590
Q068 => 1405590
Q069 => 1405590
Q070 => 1405590
Q071 => 1405590
Q072 => 1405590
Q073 => 1405590
Q074 => 1405590
Q075 => 1405590
Q076 => 1408993
schools_without_null:  1635848

## Porcentage of available data

In [9]:
# total = df.shape[0]

porcentage = (schools_without_null * 100) / totalGlobal
print(porcentage)

22.803842386273043

In [10]:
df.shape

(1635848, 166)

## Tipo de Escola

In [11]:
df['ID_DEPENDENCIA_ADM_ESC'].value_counts(sort = False)

2.0    1274963
3.0      18823
4.0     312670
1.0      29392
Name: ID_DEPENDENCIA_ADM_ESC, dtype: int64

In [14]:
a = df['ID_DEPENDENCIA_ADM_ESC'].value_counts(sort = False).to_dict()

values_percent_to_save = []
values_to_save = []
for idx, value in sorted(a.items()):
    x = (value * 100) / schools_without_null
    values_percent_to_save.append(x)
    values_to_save.append(value)
    print(idx, x, value)

1.0 1.7967439517607993 29392
2.0 77.93896498941221 1274963
3.0 1.1506570292594422 18823
4.0 19.11363402956754 312670

In [15]:
csv_input = pd.read_csv('results_for_school.csv')
csv_input['2013'] = values_percent_to_save
csv_input['2013_values'] = values_to_save
csv_input.head()

        2012  2012_values       2013  2013_values
0   1.720580        26254   1.796744        29392
1  77.525049      1182940  77.938965      1274963
2   1.185938        18096   1.150657        18823
3  19.568433       298591  19.113634       312670

In [16]:
export_csv = csv_input.to_csv (r'results_for_school.csv', index = None, header=True)

## Alumno con necesidades especiales

In [17]:
df.shape

(1635848, 166)

In [18]:
array = ['IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL', 'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO', 'IN_AUTISMO', 'IN_SABATISTA', 'IN_OUTRA_DEF']
total_necesidades = 0
for item in array:
    try:
        aux = df[item].value_counts().to_dict()
        total_necesidades += aux[1]
    except:
        print('There is not elements on: ', item)
print('total_necesidades: ', total_necesidades)

aux = (total_necesidades * 100)/df.shape[0]
print(aux)

There is not elements on:  IN_OUTRA_DEF
total_necesidades:  28898
1.7665455470190385

In [19]:
csv_input = pd.read_csv('results_special_needs.csv')
csv_input['2013'] = aux
csv_input['2013_values'] = total_necesidades
csv_input.head()

       2012  2012_values      2013  2013_values
0  1.275001        19455  1.766546        28898

In [21]:
export_csv = csv_input.to_csv (r'results_special_needs.csv', index = None, header=True)

## Aluno por regiao

In [23]:
array_kinds_regions = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT']

df['UF_ESC'].value_counts()

SP    337628
MG    167942
RJ    127264
CE    116632
PR     96859
BA     91237
RS     80333
PE     70712
PA     64294
GO     53201
SC     50088
MA     41735
ES     38304
AM     35385
MT     31760
PB     31184
PI     30814
RN     28657
DF     27342
MS     24561
AL     20456
SE     18320
RO     15319
TO     14485
AC      9223
AP      8073
RR      4040
Name: UF_ESC, dtype: int64

In [24]:
df_SUL = df.loc[df['UF_ESC'].isin(['RS','SC','PR'])]
df_NORTE = df.loc[df['UF_ESC'].isin(['AC','AP','AM', 'PA', 'RO', 'RR', 'TO'])]
df_NORDESTE = df.loc[df['UF_ESC'].isin(['AL','BA','CE', 'MA', 'PB', 'PI', 'PE', 'RN', 'SE'])]
df_CENTROOESTE = df.loc[df['UF_ESC'].isin(['DF','GO','MT', 'MS'])]
df_SUDESTE = df.loc[df['UF_ESC'].isin(['ES','MG','RJ', 'SP'])]


print(df_SUL.shape[0])
print(df_NORTE.shape[0])
print(df_NORDESTE.shape[0])
print(df_CENTROOESTE.shape[0])
print(df_SUDESTE.shape[0])

227280
150819
449747
136864
671138

In [25]:
total = df.shape[0]
auxPercent = []
auxValues = []
auxSul =  (df_SUL.shape[0] * 100) / total
print('SUL: ', auxSul)
auxValues.append(df_SUL.shape[0])
auxPercent.append(auxSul)

auxNorte =  (df_NORTE.shape[0] * 100) / total
print('NORTE: ', auxNorte)
auxValues.append(df_NORTE.shape[0])
auxPercent.append(auxNorte)

auxNordeste =  (df_NORDESTE.shape[0] * 100) / total
print('NORDESTE: ', auxNordeste)
auxValues.append(df_NORDESTE.shape[0])
auxPercent.append(auxNordeste)

auxCentrooeste =  (df_CENTROOESTE.shape[0] * 100) / total
print('CENTROOESTE: ', auxCentrooeste)
auxValues.append(df_CENTROOESTE.shape[0])
auxPercent.append(auxCentrooeste)

auxSudeste =  (df_SUDESTE.shape[0] * 100) / total
print('SUDESTE: ', auxSudeste)
auxValues.append(df_SUDESTE.shape[0])
auxPercent.append(auxSudeste)

SUL:  13.893711396168838
NORTE:  9.219621871958763
NORDESTE:  27.493202302414407
CENTROOESTE:  8.366547503191006
SUDESTE:  41.026916926266985

In [26]:
csv_input = pd.read_csv('results_for_region.csv')
csv_input['2013'] = auxPercent
csv_input['2013_values'] = auxValues
csv_input.head()

        Region       2012  2012_values       2013  2013_values
0          SUL  13.855209       211414  13.893711       227280
1        NORTE   9.174896       139998   9.219622       150819
2     NORDESTE  26.839642       409541  27.493202       449747
3  CENTROOESTE   8.539919       130309   8.366548       136864
4      SUDESTE  41.590334       634619  41.026917       671138

In [27]:
export_csv = csv_input.to_csv (r'results_for_region.csv', index = None, header=True)