In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('MICRODADOS_ENEM_2014.csv', encoding='iso-8859-1', sep = ',')

In [4]:
df.head()

,NU_INSCRICAO,NU_ANO,COD_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,COD_UF_RESIDENCIA,UF_RESIDENCIA,IN_ESTUDA_CLASSE_HOSPITALAR,COD_ESCOLA,COD_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,...,Q067,Q068,Q069,Q070,Q071,Q072,Q073,Q074,Q075,Q076
0,140000000001,2014,3548708,SAO BERNARDO DO CAMPO,35,SP,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,140000000002,2014,3118601,CONTAGEM,31,MG,0,NaN,NaN,NaN,...,B,B,B,A,B,B,B,B,B,D
2,140000000003,2014,3550308,SAO PAULO,35,SP,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,140000000004,2014,3550308,SAO PAULO,35,SP,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,140000000005,2014,2933307,VITORIA DA CONQUISTA,29,BA,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
totalGlobal = df.shape[0]

In [6]:
df = df[np.isfinite(df['ID_DEPENDENCIA_ADM_ESC'])]

In [7]:
df.shape

(1758351, 166)

## Values NaN

In [8]:
nullvalues = (df.isnull().sum())
total_size = df.shape[0]
schools_without_null = 0
columns = list(df)
for idx, col in enumerate(columns):
    if col == 'ID_DEPENDENCIA_ADM_ESC':
        schools_without_null = total_size - nullvalues[idx]
    if nullvalues[idx] > 0:
        print(col + ' => '+str(nullvalues[idx]))
print('schools_without_null: ', schools_without_null)

IDADE => 89
COD_MUNICIPIO_NASCIMENTO => 13492
NO_MUNICIPIO_NASCIMENTO => 13492
COD_UF_NASCIMENTO => 13490
UF_NASCIMENTO => 13490
ANO_CONCLUIU => 1756484
TP_ESCOLA => 7943
IN_TP_ENSINO => 7942
IN_CERTIFICADO => 942942
NO_ENTIDADE_CERTIFICACAO => 1499396
COD_UF_ENTIDADE_CERTIFICACAO => 1499396
UF_ENTIDADE_CERTIFICACAO => 1499396
NOTA_CN => 272036
NOTA_CH => 272036
NOTA_LC => 297644
NOTA_MT => 297644
TX_RESPOSTAS_LC => 1
TX_RESPOSTAS_MT => 1
GABARITO_CN => 272036
GABARITO_CH => 272036
GABARITO_LC => 297644
GABARITO_MT => 297644
Q025 => 1745082
Q031 => 976729
Q032 => 976729
Q034 => 975075
Q035 => 975075
Q040 => 1080074
Q041 => 1080074
Q042 => 1080074
Q043 => 1080074
Q044 => 1080074
Q045 => 1080074
Q046 => 1080074
Q047 => 1080074
Q048 => 1080074
Q049 => 1080074
Q050 => 1080074
Q051 => 1080074
Q052 => 1080074
Q053 => 1080074
Q054 => 1496736
Q055 => 1659730
Q056 => 1659730
Q057 => 1659730
Q058 => 1659730
Q059 => 1659730
Q060 => 1659627
Q061 => 1659730
Q062 => 1659730
Q063 => 1659627
Q064 => 1497420
Q065 => 1536159
Q066 => 1536159
Q067 => 1536159
Q068 => 1536159
Q069 => 1536159
Q070 => 1536159
Q071 => 1536159
Q072 => 1536159
Q073 => 1536159
Q074 => 1536159
Q075 => 1536159
Q076 => 1536891
schools_without_null:  1758351

## Porcentage of available data

In [9]:
# total = df.shape[0]

porcentage = (schools_without_null * 100) / totalGlobal
print(porcentage)

20.1593786372504

In [10]:
df.shape

(1758351, 166)

## Tipo de Escola

In [11]:
df['ID_DEPENDENCIA_ADM_ESC'].value_counts(sort = False)

2.0    1326329
3.0      18407
4.0     381353
1.0      32262
Name: ID_DEPENDENCIA_ADM_ESC, dtype: int64

In [14]:
a = df['ID_DEPENDENCIA_ADM_ESC'].value_counts(sort = False).to_dict()

for idx, value in a.items():
    x = (value * 100) / schools_without_null
    print(idx, x)
    
print('*'*50)

values_percent_to_save = []
values_to_save = []
for idx, value in sorted(a.items()):
    x = (value * 100) / schools_without_null
    values_percent_to_save.append(x)
    values_to_save.append(value)
    print(idx, x, value)

2.0 75.43027529770791
3.0 1.0468330839519526
4.0 21.68810436596561
1.0 1.834787252374526
**************************************************
1.0 1.834787252374526 32262
2.0 75.43027529770791 1326329
3.0 1.0468330839519526 18407
4.0 21.68810436596561 381353

In [15]:
csv_input = pd.read_csv('results_for_school.csv')
csv_input['2014'] = values_percent_to_save
csv_input['2014_values'] = values_to_save
csv_input.head()

        2012  2012_values       2013  2013_values       2014  2014_values
0   1.720580        26254   1.796744        29392   1.834787        32262
1  77.525049      1182940  77.938965      1274963  75.430275      1326329
2   1.185938        18096   1.150657        18823   1.046833        18407
3  19.568433       298591  19.113634       312670  21.688104       381353

In [16]:
export_csv = csv_input.to_csv (r'results_for_school.csv', index = None, header=True)

## Alumno con necesidades especiales

In [17]:
df.shape

(1758351, 166)

In [18]:
array = ['IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL', 'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO', 'IN_DISCALCULIA', 'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_SABATISTA', 'IN_OUTRA_DEF']
total_necesidades = 0
for item in array:
    try:
        aux = df[item].value_counts().to_dict()
        total_necesidades += aux[1]
    except:
        print('There is not elements on: ', item)
print('total_necesidades: ', total_necesidades)

aux = (total_necesidades * 100)/df.shape[0]
print(aux)

There is not elements on:  IN_DISCALCULIA
There is not elements on:  IN_VISAO_MONOCULAR
There is not elements on:  IN_OUTRA_DEF
total_necesidades:  24695
1.4044408653334857

In [19]:
csv_input = pd.read_csv('results_special_needs.csv')
csv_input['2014'] = aux
csv_input['2014_values'] = total_necesidades
csv_input.head()

       2012  2012_values      2013  2013_values      2014  2014_values
0  1.275001        19455  1.766546        28898  1.404441        24695

In [1]:
export_csv = csv_input.to_csv (r'results_special_needs.csv', index = None, header=True)

NameError: name 'csv_input' is not defined

## Aluno por regiao

In [20]:
array_kinds_regions = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT']

df['UF_ESC'].value_counts()

SP    352342
MG    172018
RJ    129649
CE    123550
PR     96724
BA     93742
DF     91935
RS     86541
PE     73931
PA     67809
GO     57088
SC     52632
MA     48805
ES     37930
AM     36991
PB     31440
PI     31055
MT     29923
RN     27886
MS     23310
AL     21879
RO     17350
SE     17224
TO     14117
AP      9045
AC      8758
RR      4677
Name: UF_ESC, dtype: int64

In [21]:
df_SUL = df.loc[df['UF_ESC'].isin(['RS','SC','PR'])]
df_NORTE = df.loc[df['UF_ESC'].isin(['AC','AP','AM', 'PA', 'RO', 'RR', 'TO'])]
df_NORDESTE = df.loc[df['UF_ESC'].isin(['AL','BA','CE', 'MA', 'PB', 'PI', 'PE', 'RN', 'SE'])]
df_CENTROOESTE = df.loc[df['UF_ESC'].isin(['DF','GO','MT', 'MS'])]
df_SUDESTE = df.loc[df['UF_ESC'].isin(['ES','MG','RJ', 'SP'])]


print(df_SUL.shape[0])
print(df_NORTE.shape[0])
print(df_NORDESTE.shape[0])
print(df_CENTROOESTE.shape[0])
print(df_SUDESTE.shape[0])

235897
158747
469512
202256
691939

In [22]:
total = df.shape[0]
auxPercent = []
auxValues = []
auxSul =  (df_SUL.shape[0] * 100) / total
print('SUL: ', auxSul)
auxValues.append(df_SUL.shape[0])
auxPercent.append(auxSul)

auxNorte =  (df_NORTE.shape[0] * 100) / total
print('NORTE: ', auxNorte)
auxValues.append(df_NORTE.shape[0])
auxPercent.append(auxNorte)

auxNordeste =  (df_NORDESTE.shape[0] * 100) / total
print('NORDESTE: ', auxNordeste)
auxValues.append(df_NORDESTE.shape[0])
auxPercent.append(auxNordeste)

auxCentrooeste =  (df_CENTROOESTE.shape[0] * 100) / total
print('CENTROOESTE: ', auxCentrooeste)
auxValues.append(df_CENTROOESTE.shape[0])
auxPercent.append(auxCentrooeste)

auxSudeste =  (df_SUDESTE.shape[0] * 100) / total
print('SUDESTE: ', auxSudeste)
auxValues.append(df_SUDESTE.shape[0])
auxPercent.append(auxSudeste)

SUL:  13.415808334058445
NORTE:  9.028174693221091
NORDESTE:  26.70183598155317
CENTROOESTE:  11.502595329373943
SUDESTE:  39.35158566179335

In [23]:
csv_input = pd.read_csv('results_for_region.csv')
csv_input['2014'] = auxPercent
csv_input['2014_values'] = auxValues
csv_input.head()

,Region,2012,2012_values,2013,2013_values,2014,2014_values
0,SUL,13.855209,211414,13.893711,227280,13.415808,235897
1,NORTE,9.174896,139998,9.219622,150819,9.028175,158747
2,NORDESTE,26.839642,409541,27.493202,449747,26.701836,469512
3,CENTROOESTE,8.539919,130309,8.366548,136864,11.502595,202256
4,SUDESTE,41.590334,634619,41.026917,671138,39.351586,691939

In [24]:
export_csv = csv_input.to_csv (r'results_for_region.csv', index = None, header=True)