In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('MICRODADOS_ENEM_2015.csv', encoding='iso-8859-1', sep = ',')

In [4]:
df.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,IN_ESTUDA_CLASSE_HOSPITALAR,IN_TREINEIRO,CO_ESCOLA,CO_MUNICIPIO_ESC,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,150000000376,2015,4309209,Gravataí,43,RS,0,0,NaN,NaN,...,5.0,A,A,A,A,A,E,A,A,A
1,150000003053,2015,3143302,Montes Claros,31,MG,0,0,NaN,NaN,...,5.0,B,A,A,A,A,A,A,A,A
2,150000001161,2015,2609600,Olinda,26,PE,0,0,NaN,NaN,...,NaN,D,A,A,A,D,A,A,A,D
3,150000001335,2015,3106200,Belo Horizonte,31,MG,0,0,NaN,NaN,...,5.0,A,A,A,A,A,A,A,A,A
4,150000001219,2015,3168606,Teófilo Otoni,31,MG,0,0,NaN,NaN,...,NaN,A,A,A,A,A,A,A,A,A

In [5]:
totalGlobal = df.shape[0]

In [6]:
df = df[np.isfinite(df['TP_DEPENDENCIA_ADM_ESC'])]

In [7]:
df.shape

(1649258, 166)

## Values NaN

In [8]:
nullvalues = (df.isnull().sum())
total_size = df.shape[0]
schools_without_null = 0
columns = list(df)
for idx, col in enumerate(columns):
    if col == 'TP_DEPENDENCIA_ADM_ESC':
        schools_without_null = total_size - nullvalues[idx]
    if nullvalues[idx] > 0:
        print(col + ' => '+str(nullvalues[idx]))
print('schools_without_null: ', schools_without_null)

TP_SIT_FUNC_ESC => 1763
NU_IDADE => 30
CO_MUNICIPIO_NASCIMENTO => 76511
NO_MUNICIPIO_NASCIMENTO => 76511
CO_UF_NASCIMENTO => 76511
SG_UF_NASCIMENTO => 76511
TP_ENSINO => 29
TP_ESTADO_CIVIL => 31173
NO_ENTIDADE_CERTIFICACAO => 1391445
CO_UF_ENTIDADE_CERTIFICACAO => 1391445
SG_UF_ENTIDADE_CERTIFICACAO => 1391445
TP_PRESENCA_CN => 29
TP_PRESENCA_CH => 29
TP_PRESENCA_LC => 28
TP_PRESENCA_MT => 28
CO_PROVA_CN => 204393
CO_PROVA_CH => 204393
CO_PROVA_LC => 222808
CO_PROVA_MT => 222808
NU_NOTA_CN => 204393
NU_NOTA_CH => 204393
NU_NOTA_LC => 222808
NU_NOTA_MT => 222808
TX_RESPOSTAS_CN => 204393
TX_RESPOSTAS_CH => 204393
TX_RESPOSTAS_LC => 222808
TX_RESPOSTAS_MT => 222808
TX_GABARITO_CN => 204393
TX_GABARITO_CH => 204393
TX_GABARITO_LC => 222808
TX_GABARITO_MT => 222808
TP_STATUS_REDACAO => 28
NU_NOTA_COMP1 => 362
NU_NOTA_COMP2 => 362
NU_NOTA_COMP3 => 362
NU_NOTA_COMP4 => 362
NU_NOTA_COMP5 => 362
NU_NOTA_REDACAO => 362
Q001 => 202
Q002 => 203
Q003 => 203
Q004 => 203
Q005 => 204
Q006 => 204
Q007 => 206
Q008 => 207
Q009 => 207
Q010 => 210
Q011 => 211
Q012 => 214
Q013 => 217
Q014 => 217
Q015 => 218
Q016 => 219
Q017 => 220
Q018 => 221
Q019 => 221
Q020 => 222
Q021 => 222
Q022 => 222
Q023 => 222
Q024 => 223
Q025 => 223
Q026 => 223
Q027 => 1059260
Q028 => 1059260
Q029 => 1059260
Q030 => 1059260
Q031 => 1059260
Q032 => 1059260
Q033 => 1059260
Q034 => 223
Q035 => 223
Q036 => 223
Q037 => 223
Q038 => 223
Q039 => 223
Q040 => 223
Q041 => 1332420
Q042 => 224
Q043 => 224
Q044 => 225
Q045 => 225
Q046 => 225
Q047 => 225
Q048 => 225
Q049 => 226
Q050 => 226
schools_without_null:  1649258

## Porcentage of available data

In [9]:
# total = df.shape[0]

porcentage = (schools_without_null * 100) / totalGlobal
print(porcentage)

21.29056402390418

In [10]:
df.shape

(1649258, 166)

## Tipo de Escola

In [11]:
df['TP_DEPENDENCIA_ADM_ESC'].value_counts(sort = False)

2.0    1293573
3.0      17129
4.0     304364
1.0      34192
Name: TP_DEPENDENCIA_ADM_ESC, dtype: int64

In [13]:
a = df['TP_DEPENDENCIA_ADM_ESC'].value_counts(sort = False).to_dict()

for idx, value in a.items():
    x = (value * 100) / schools_without_null
    print(idx, x)

print('*'*50)

values_percent_to_save = []
values_to_save = []
for idx, value in sorted(a.items()):
    x = (value * 100) / schools_without_null
    values_percent_to_save.append(x)
    values_to_save.append(value)
    print(idx, x, value)

2.0 78.43363500434741
3.0 1.0385882621154483
4.0 18.454602008903397
1.0 2.0731747246337444
**************************************************
1.0 2.0731747246337444 34192
2.0 78.43363500434741 1293573
3.0 1.0385882621154483 17129
4.0 18.454602008903397 304364

In [14]:
csv_input = pd.read_csv('results_for_school.csv')
csv_input['2015'] = values_percent_to_save
csv_input['2015_values'] = values_to_save
csv_input.head()

,2012,2012_values,2013,2013_values,2014,2014_values,2015,2015_values
0,1.720580,26254,1.796744,29392,1.834787,32262,2.073175,34192
1,77.525049,1182940,77.938965,1274963,75.430275,1326329,78.433635,1293573
2,1.185938,18096,1.150657,18823,1.046833,18407,1.038588,17129
3,19.568433,298591,19.113634,312670,21.688104,381353,18.454602,304364

In [15]:
export_csv = csv_input.to_csv (r'results_for_school.csv', index = None, header=True)

## Alumno con necesidades especiales

In [16]:
df.shape

(1649258, 166)

In [17]:
array = ['IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL', 'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO', 'IN_DISCALCULIA', 'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_SABATISTA', 'IN_OUTRA_DEF']
total_necesidades = 0
for item in array:
    try:
        aux = df[item].value_counts().to_dict()
        total_necesidades += aux[1]
    except:
        print('There is not elements on: ', item)
print('total_necesidades: ', total_necesidades)

aux = (total_necesidades * 100)/df.shape[0]
print(aux)

total_necesidades:  24035
1.4573220199629167

In [18]:
csv_input = pd.read_csv('results_special_needs.csv')
csv_input['2015'] = aux
csv_input['2015_values'] = total_necesidades
csv_input.head()

       2012  2012_values      2013  2013_values      2015  2015_values
0  1.275001        19455  1.766546        28898  1.457322        24035

In [1]:
export_csv = csv_input.to_csv (r'results_special_needs.csv', index = None, header=True)

NameError: name 'csv_input' is not defined

## Aluno por regiao

In [19]:
array_kinds_regions = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT']

df['SG_UF_ESC'].value_counts()

SP    358496
MG    158814
RJ    133135
CE    118295
BA     90675
RS     83077
PR     79468
PE     74127
PA     58298
GO     57990
SC     54656
MA     46796
ES     38356
AM     34374
DF     33046
PB     30971
PI     29420
MT     29152
RN     25316
MS     22728
AL     22378
RO     16732
SE     15333
TO     14549
AP      9212
AC      8990
RR      4874
Name: SG_UF_ESC, dtype: int64

In [20]:
df_SUL = df.loc[df['SG_UF_ESC'].isin(['RS','SC','PR'])]
df_NORTE = df.loc[df['SG_UF_ESC'].isin(['AC','AP','AM', 'PA', 'RO', 'RR', 'TO'])]
df_NORDESTE = df.loc[df['SG_UF_ESC'].isin(['AL','BA','CE', 'MA', 'PB', 'PI', 'PE', 'RN', 'SE'])]
df_CENTROOESTE = df.loc[df['SG_UF_ESC'].isin(['DF','GO','MT', 'MS'])]
df_SUDESTE = df.loc[df['SG_UF_ESC'].isin(['ES','MG','RJ', 'SP'])]


print(df_SUL.shape[0])
print(df_NORTE.shape[0])
print(df_NORDESTE.shape[0])
print(df_CENTROOESTE.shape[0])
print(df_SUDESTE.shape[0])

217201
147029
453311
142916
688801

In [23]:
total = df.shape[0]
auxPercent = []
auxValues = []
auxSul =  (df_SUL.shape[0] * 100) / total
print('SUL: ', auxSul)
auxValues.append(df_SUL.shape[0])
auxPercent.append(auxSul)

auxNorte =  (df_NORTE.shape[0] * 100) / total
print('NORTE: ', auxNorte)
auxValues.append(df_NORTE.shape[0])
auxPercent.append(auxNorte)

auxNordeste =  (df_NORDESTE.shape[0] * 100) / total
print('NORDESTE: ', auxNordeste)
auxValues.append(df_NORDESTE.shape[0])
auxPercent.append(auxNordeste)

auxCentrooeste =  (df_CENTROOESTE.shape[0] * 100) / total
print('CENTROOESTE: ', auxCentrooeste)
auxValues.append(df_CENTROOESTE.shape[0])
auxPercent.append(auxCentrooeste)

auxSudeste =  (df_SUDESTE.shape[0] * 100) / total
print('SUDESTE: ', auxSudeste)
auxValues.append(df_SUDESTE.shape[0])
auxPercent.append(auxSudeste)

SUL:  13.169619307591656
NORTE:  8.914857469237681
NORDESTE:  27.48575419976741
CENTROOESTE:  8.665472594342425
SUDESTE:  41.76429642906083

In [24]:
csv_input = pd.read_csv('results_for_region.csv')
csv_input['2015'] = auxPercent
csv_input['2015_values'] = auxValues
csv_input.head()

,Region,2012,2012_values,2013,2013_values,2014,2014_values,2015,2015_values
0,SUL,13.855209,211414,13.893711,227280,13.415808,235897,13.169619,217201
1,NORTE,9.174896,139998,9.219622,150819,9.028175,158747,8.914857,147029
2,NORDESTE,26.839642,409541,27.493202,449747,26.701836,469512,27.485754,453311
3,CENTROOESTE,8.539919,130309,8.366548,136864,11.502595,202256,8.665473,142916
4,SUDESTE,41.590334,634619,41.026917,671138,39.351586,691939,41.764296,688801

In [25]:
export_csv = csv_input.to_csv (r'results_for_region.csv', index = None, header=True)