In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('microdados_enem_2016.csv', encoding='iso-8859-1', sep = ';')

In [4]:
df.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,160000301384,2016,2507507,João Pessoa,25,PB,23.0,M,0.0,3,...,NaN,C,A,A,A,A,D,A,A,A
1,160000000001,2016,4128708,Vitorino,41,PR,20.0,M,0.0,1,...,NaN,A,A,A,A,A,D,A,A,C
2,160000000002,2016,2927408,Salvador,29,BA,21.0,M,0.0,3,...,NaN,B,A,B,A,A,A,D,A,C
3,160000000003,2016,1501402,Belém,15,PA,17.0,M,0.0,1,...,NaN,D,A,A,A,A,E,A,A,A
4,160000000004,2016,5300108,Brasília,53,DF,36.0,F,2.0,1,...,NaN,A,A,A,A,A,A,A,A,A

In [5]:
totalGlobal = df.shape[0]

In [6]:
df = df[np.isfinite(df['TP_DEPENDENCIA_ADM_ESC'])]

In [7]:
df.shape

(1881282, 166)

## Values NaN

In [8]:
nullvalues = (df.isnull().sum())
total_size = df.shape[0]
schools_without_null = 0
columns = list(df)
for idx, col in enumerate(columns):
    if col == 'TP_DEPENDENCIA_ADM_ESC':
        schools_without_null = total_size - nullvalues[idx]
    if nullvalues[idx] > 0:
        print(col + ' => '+str(nullvalues[idx]))
print('schools_without_null: ', schools_without_null)

NU_IDADE => 42
TP_ESTADO_CIVIL => 44882
CO_MUNICIPIO_NASCIMENTO => 102215
NO_MUNICIPIO_NASCIMENTO => 102215
CO_UF_NASCIMENTO => 102215
SG_UF_NASCIMENTO => 102215
TP_ENSINO => 22
TP_SIT_FUNC_ESC => 39
NO_ENTIDADE_CERTIFICACAO => 1579649
CO_UF_ENTIDADE_CERTIFICACAO => 1579649
SG_UF_ENTIDADE_CERTIFICACAO => 1579649
TP_PRESENCA_CN => 51
TP_PRESENCA_CH => 51
TP_PRESENCA_LC => 51
TP_PRESENCA_MT => 51
CO_PROVA_CN => 332629
CO_PROVA_CH => 332629
CO_PROVA_LC => 357042
CO_PROVA_MT => 357042
NU_NOTA_CN => 332629
NU_NOTA_CH => 332629
NU_NOTA_LC => 357042
NU_NOTA_MT => 357042
TX_RESPOSTAS_CN => 332629
TX_RESPOSTAS_CH => 332629
TX_RESPOSTAS_LC => 357042
TX_RESPOSTAS_MT => 357042
TX_GABARITO_CN => 332629
TX_GABARITO_CH => 332629
TX_GABARITO_LC => 357042
TX_GABARITO_MT => 357042
TP_STATUS_REDACAO => 357042
NU_NOTA_COMP1 => 357042
NU_NOTA_COMP2 => 357042
NU_NOTA_COMP3 => 357042
NU_NOTA_COMP4 => 357042
NU_NOTA_COMP5 => 357042
NU_NOTA_REDACAO => 357042
Q001 => 2
Q002 => 2
Q003 => 2
Q004 => 2
Q005 => 2
Q006 => 2
Q007 => 2
Q008 => 2
Q009 => 2
Q010 => 2
Q011 => 2
Q012 => 2
Q013 => 2
Q014 => 2
Q015 => 2
Q016 => 2
Q017 => 2
Q018 => 2
Q019 => 2
Q020 => 2
Q021 => 2
Q022 => 2
Q023 => 2
Q024 => 2
Q025 => 2
Q026 => 2
Q027 => 1277789
Q028 => 1277849
Q029 => 1277886
Q030 => 1277909
Q031 => 1277911
Q032 => 1277924
Q033 => 1277927
Q034 => 2
Q035 => 2
Q036 => 2
Q037 => 2
Q038 => 2
Q039 => 2
Q040 => 2
Q041 => 1581846
Q042 => 2
Q043 => 2
Q044 => 2
Q045 => 2
Q046 => 2
Q047 => 2
Q048 => 2
Q049 => 2
Q050 => 2
schools_without_null:  1881282

## Porcentage of available data

In [9]:
# total = df.shape[0]

porcentage = (schools_without_null * 100) / totalGlobal
print(porcentage)

21.80598089776406

In [10]:
df.shape

(1881282, 166)

## Tipo de Escola

In [11]:
df['TP_DEPENDENCIA_ADM_ESC'].value_counts(sort = False)

2.0    1501527
3.0      21634
4.0     319380
1.0      38741
Name: TP_DEPENDENCIA_ADM_ESC, dtype: int64

In [13]:
a = df['TP_DEPENDENCIA_ADM_ESC'].value_counts(sort = False).to_dict()

for idx, value in a.items():
    x = (value * 100) / schools_without_null
    print(idx, x)

print('*'*50)

values_percent_to_save = []
values_to_save = []
for idx, value in sorted(a.items()):
    x = (value * 100) / schools_without_null
    values_percent_to_save.append(x)
    values_to_save.append(value)
    print(idx, x, value)

2.0 79.81403107030206
3.0 1.1499605056551863
4.0 16.97672119331392
1.0 2.059287230728833
**************************************************
1.0 2.059287230728833 38741
2.0 79.81403107030206 1501527
3.0 1.1499605056551863 21634
4.0 16.97672119331392 319380

In [14]:
csv_input = pd.read_csv('results_for_school.csv')
csv_input['2016'] = values_percent_to_save
csv_input['2016_values'] = values_to_save
csv_input.head()

,2012,2012_values,2013,2013_values,2014,2014_values,2015,2015_values,2016,2016_values
0,1.720580,26254,1.796744,29392,1.834787,32262,2.073175,34192,2.059287,38741
1,77.525049,1182940,77.938965,1274963,75.430275,1326329,78.433635,1293573,79.814031,1501527
2,1.185938,18096,1.150657,18823,1.046833,18407,1.038588,17129,1.149961,21634
3,19.568433,298591,19.113634,312670,21.688104,381353,18.454602,304364,16.976721,319380

In [15]:
export_csv = csv_input.to_csv (r'results_for_school.csv', index = None, header=True)

## Alumno con necesidades especiales

In [16]:
df.shape

(1881282, 166)

In [17]:
array = ['IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL', 'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO', 'IN_DISCALCULIA', 'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_SABATISTA', 'IN_OUTRA_DEF']
total_necesidades = 0
for item in array:
    try:
        aux = df[item].value_counts().to_dict()
        total_necesidades += aux[1]
    except:
        print('There is not elements on: ', item)
print('total_necesidades: ', total_necesidades)

aux = (total_necesidades * 100)/df.shape[0]
print(aux)

total_necesidades:  28812
1.531508832806565

In [28]:
csv_input = pd.read_csv('results_special_needs.csv')
csv_input['2016'] = aux
csv_input['2016_values'] = total_necesidades
csv_input.head()

,Region,2012,2012_values,2013,2013_values,2014,2014_values,2015,2015_values,2016,2016_values
0,SUL,13.855209,211414,13.893711,227280,13.415808,235897,13.169619,217201,40.337812,28812
1,NORTE,9.174896,139998,9.219622,150819,9.028175,158747,8.914857,147029,40.337812,28812
2,NORDESTE,26.839642,409541,27.493202,449747,26.701836,469512,27.485754,453311,40.337812,28812
3,CENTROOESTE,8.539919,130309,8.366548,136864,11.502595,202256,8.665473,142916,40.337812,28812
4,SUDESTE,41.590334,634619,41.026917,671138,39.351586,691939,41.764296,688801,40.337812,28812

In [29]:
export_csv = csv_input.to_csv (r'results_special_needs.csv', index = None, header=True)

## Aluno por regiao

In [20]:
array_kinds_regions = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT']

df['SG_UF_ESC'].value_counts()

SP    409055
MG    182002
RJ    128396
CE    123416
PR    108488
BA    108269
RS     87518
PE     84290
PA     78989
SC     64735
GO     64197
MA     62509
AM     41503
ES     39415
DF     35310
PI     35112
PB     33240
MT     32686
RN     28616
MS     26843
AL     25597
SE     19311
RO     18927
TO     16404
AP     11172
AC     10100
RR      5182
Name: SG_UF_ESC, dtype: int64

In [21]:
df_SUL = df.loc[df['SG_UF_ESC'].isin(['RS','SC','PR'])]
df_NORTE = df.loc[df['SG_UF_ESC'].isin(['AC','AP','AM', 'PA', 'RO', 'RR', 'TO'])]
df_NORDESTE = df.loc[df['SG_UF_ESC'].isin(['AL','BA','CE', 'MA', 'PB', 'PI', 'PE', 'RN', 'SE'])]
df_CENTROOESTE = df.loc[df['SG_UF_ESC'].isin(['DF','GO','MT', 'MS'])]
df_SUDESTE = df.loc[df['SG_UF_ESC'].isin(['ES','MG','RJ', 'SP'])]


print(df_SUL.shape[0])
print(df_NORTE.shape[0])
print(df_NORDESTE.shape[0])
print(df_CENTROOESTE.shape[0])
print(df_SUDESTE.shape[0])

260741
182277
520360
159036
758868

In [24]:
total = df.shape[0]
auxPercent = []
auxValues = []
auxSul =  (df_SUL.shape[0] * 100) / total
print('SUL: ', auxSul)
auxValues.append(df_SUL.shape[0])
auxPercent.append(auxSul)

auxNorte =  (df_NORTE.shape[0] * 100) / total
print('NORTE: ', auxNorte)
auxValues.append(df_NORTE.shape[0])
auxPercent.append(auxNorte)

auxNordeste =  (df_NORDESTE.shape[0] * 100) / total
print('NORDESTE: ', auxNordeste)
auxValues.append(df_NORDESTE.shape[0])
auxPercent.append(auxNordeste)

auxCentrooeste =  (df_CENTROOESTE.shape[0] * 100) / total
print('CENTROOESTE: ', auxCentrooeste)
auxValues.append(df_CENTROOESTE.shape[0])
auxPercent.append(auxCentrooeste)

auxSudeste =  (df_SUDESTE.shape[0] * 100) / total
print('SUDESTE: ', auxSudeste)
auxValues.append(df_SUDESTE.shape[0])
auxPercent.append(auxSudeste)

SUL:  13.859750957060132
NORTE:  9.688978047948154
NORDESTE:  27.65986173258448
CENTROOESTE:  8.453597068382093
SUDESTE:  40.33781219402514

In [25]:
csv_input = pd.read_csv('results_for_region.csv')
csv_input['2016'] = auxPercent
csv_input['2016_values'] = auxValues
csv_input.head()

,Region,2012,2012_values,2013,2013_values,2014,2014_values,2015,2015_values,2016,2016_values
0,SUL,13.855209,211414,13.893711,227280,13.415808,235897,13.169619,217201,13.859751,260741
1,NORTE,9.174896,139998,9.219622,150819,9.028175,158747,8.914857,147029,9.688978,182277
2,NORDESTE,26.839642,409541,27.493202,449747,26.701836,469512,27.485754,453311,27.659862,520360
3,CENTROOESTE,8.539919,130309,8.366548,136864,11.502595,202256,8.665473,142916,8.453597,159036
4,SUDESTE,41.590334,634619,41.026917,671138,39.351586,691939,41.764296,688801,40.337812,758868

In [26]:
export_csv = csv_input.to_csv (r'results_for_region.csv', index = None, header=True)