In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('MICRODADOS_ENEM_2017.csv', encoding='iso-8859-1', sep = ';')

In [4]:
df.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027
0,170003336736,2017,3503208,Araraquara,35,SP,29.0,F,0.0,1,...,A,C,B,B,C,B,B,B,A,A
1,170003333545,2017,5002902,Cassilândia,50,MS,22.0,F,0.0,1,...,A,B,A,A,C,B,A,A,A,A
2,170001663644,2017,3550308,São Paulo,35,SP,38.0,F,0.0,1,...,A,B,A,A,C,A,B,B,A,A
3,170001663645,2017,4209300,Lages,42,SC,35.0,F,0.0,1,...,B,C,A,B,D,A,B,B,A,A
4,170001663646,2017,2704302,Maceió,27,AL,40.0,M,0.0,3,...,A,B,B,A,C,A,C,B,A,A

In [5]:
totalGlobal = df.shape[0]

In [6]:
df = df[np.isfinite(df['TP_DEPENDENCIA_ADM_ESC'])]

In [7]:
df.shape

(1785914, 137)

## Values NaN

In [8]:
nullvalues = (df.isnull().sum())
total_size = df.shape[0]
schools_without_null = 0
columns = list(df)
for idx, col in enumerate(columns):
    if col == 'TP_DEPENDENCIA_ADM_ESC':
        schools_without_null = total_size - nullvalues[idx]
    if nullvalues[idx] > 0:
        print(col + ' => '+str(nullvalues[idx]))
print('schools_without_null: ', schools_without_null)

NU_IDADE => 44
TP_ESTADO_CIVIL => 45006
CO_MUNICIPIO_NASCIMENTO => 68878
NO_MUNICIPIO_NASCIMENTO => 68878
CO_UF_NASCIMENTO => 68878
SG_UF_NASCIMENTO => 68878
TP_ENSINO => 16
TP_SIT_FUNC_ESC => 5955
TP_PRESENCA_CN => 39
TP_PRESENCA_CH => 39
TP_PRESENCA_LC => 39
TP_PRESENCA_MT => 39
CO_PROVA_CN => 397862
CO_PROVA_CH => 327457
CO_PROVA_LC => 327457
CO_PROVA_MT => 397862
NU_NOTA_CN => 397862
NU_NOTA_CH => 327457
NU_NOTA_LC => 327457
NU_NOTA_MT => 397862
TX_RESPOSTAS_CN => 397862
TX_RESPOSTAS_CH => 327457
TX_RESPOSTAS_LC => 327457
TX_RESPOSTAS_MT => 397862
TX_GABARITO_CN => 397862
TX_GABARITO_CH => 327457
TX_GABARITO_LC => 327457
TX_GABARITO_MT => 397862
TP_STATUS_REDACAO => 327457
NU_NOTA_COMP1 => 327457
NU_NOTA_COMP2 => 327457
NU_NOTA_COMP3 => 327457
NU_NOTA_COMP4 => 327457
NU_NOTA_COMP5 => 327457
NU_NOTA_REDACAO => 327457
Q003 => 1
Q004 => 1
Q005 => 1
Q006 => 1
Q007 => 1
Q008 => 1
Q009 => 1
Q010 => 1
Q011 => 1
Q012 => 1
Q013 => 1
Q014 => 1
Q015 => 1
Q016 => 1
Q017 => 1
Q018 => 1
Q019 => 1
Q020 => 1
Q021 => 1
Q022 => 1
Q023 => 1
Q024 => 1
Q025 => 1
Q026 => 2
Q027 => 1
schools_without_null:  1785914

## Porcentage of available data

In [9]:
# total = df.shape[0]

porcentage = (schools_without_null * 100) / totalGlobal
print(porcentage)

26.531325630361025

In [10]:
df.shape

(1785914, 137)

## Tipo de Escola

In [11]:
df['TP_DEPENDENCIA_ADM_ESC'].value_counts(sort = False)

2.0    1423466
3.0      20375
4.0     297228
1.0      44845
Name: TP_DEPENDENCIA_ADM_ESC, dtype: int64

In [13]:
a = df['TP_DEPENDENCIA_ADM_ESC'].value_counts(sort = False).to_dict()

for idx, value in a.items():
    x = (value * 100) / schools_without_null
    print(idx, x)
    
print('*'*50)

values_percent_to_save = []
values_to_save = []
for idx, value in sorted(a.items()):
    x = (value * 100) / schools_without_null
    values_percent_to_save.append(x)
    values_to_save.append(value)
    print(idx, x, value)

2.0 79.70518177247057
3.0 1.1408724048302439
4.0 16.642906657319447
1.0 2.511039165379744
**************************************************
1.0 2.511039165379744 44845
2.0 79.70518177247057 1423466
3.0 1.1408724048302439 20375
4.0 16.642906657319447 297228

In [14]:
csv_input = pd.read_csv('results_for_school.csv')
csv_input['2017'] = values_percent_to_save
csv_input['2017_values'] = values_to_save
csv_input.head()

,2012,2012_values,2013,2013_values,2014,2014_values,2015,2015_values,2016,2016_values,2017,2017_values
0,1.720580,26254,1.796744,29392,1.834787,32262,2.073175,34192,2.059287,38741,2.511039,44845
1,77.525049,1182940,77.938965,1274963,75.430275,1326329,78.433635,1293573,79.814031,1501527,79.705182,1423466
2,1.185938,18096,1.150657,18823,1.046833,18407,1.038588,17129,1.149961,21634,1.140872,20375
3,19.568433,298591,19.113634,312670,21.688104,381353,18.454602,304364,16.976721,319380,16.642907,297228

In [15]:
export_csv = csv_input.to_csv (r'results_for_school.csv', index = None, header=True)

## Alumno con necesidades especiales

In [16]:
df.shape

(1785914, 137)

In [17]:
array = ['IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL', 'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO', 'IN_DISCALCULIA', 'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_SABATISTA', 'IN_OUTRA_DEF']
total_necesidades = 0
for item in array:
    try:
        aux = df[item].value_counts().to_dict()
        total_necesidades += aux[1]
    except:
        print('There is not elements on: ', item)
print('total_necesidades: ', total_necesidades)

aux = (total_necesidades * 100)/df.shape[0]
print(aux)

There is not elements on:  IN_SABATISTA
total_necesidades:  13293
0.7443247547194322

In [18]:
csv_input = pd.read_csv('results_special_needs.csv')
csv_input['2017'] = aux
csv_input['2017_values'] = total_necesidades
csv_input.head()

,Region,2012,2012_values,2013,2013_values,2014,2014_values,2015,2015_values,2016,2016_values,2017,2017_values
0,SUL,13.855209,211414,13.893711,227280,13.415808,235897,13.169619,217201,40.337812,28812,0.744325,13293
1,NORTE,9.174896,139998,9.219622,150819,9.028175,158747,8.914857,147029,40.337812,28812,0.744325,13293
2,NORDESTE,26.839642,409541,27.493202,449747,26.701836,469512,27.485754,453311,40.337812,28812,0.744325,13293
3,CENTROOESTE,8.539919,130309,8.366548,136864,11.502595,202256,8.665473,142916,40.337812,28812,0.744325,13293
4,SUDESTE,41.590334,634619,41.026917,671138,39.351586,691939,41.764296,688801,40.337812,28812,0.744325,13293

In [19]:
export_csv = csv_input.to_csv (r'results_special_needs.csv', index = None, header=True)

## Aluno por regiao

In [20]:
array_kinds_regions = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT']

df['SG_UF_ESC'].value_counts()

SP    386714
MG    177552
RJ    130120
CE    120701
BA    103505
PR    100024
PE     80121
RS     80042
PA     75653
MA     64647
GO     61533
AM     43624
ES     38349
SC     35571
PI     34454
DF     32913
PB     31803
MT     31376
RN     28164
AL     25389
MS     21788
SE     19178
RO     18862
TO     17038
AP     11079
AC     10518
RR      5196
Name: SG_UF_ESC, dtype: int64

In [21]:
df_SUL = df.loc[df['SG_UF_ESC'].isin(['RS','SC','PR'])]
df_NORTE = df.loc[df['SG_UF_ESC'].isin(['AC','AP','AM', 'PA', 'RO', 'RR', 'TO'])]
df_NORDESTE = df.loc[df['SG_UF_ESC'].isin(['AL','BA','CE', 'MA', 'PB', 'PI', 'PE', 'RN', 'SE'])]
df_CENTROOESTE = df.loc[df['SG_UF_ESC'].isin(['DF','GO','MT', 'MS'])]
df_SUDESTE = df.loc[df['SG_UF_ESC'].isin(['ES','MG','RJ', 'SP'])]


print(df_SUL.shape[0])
print(df_NORTE.shape[0])
print(df_NORDESTE.shape[0])
print(df_CENTROOESTE.shape[0])
print(df_SUDESTE.shape[0])

215637
181970
507962
147610
732735

In [24]:
total = df.shape[0]
auxPercent = []
auxValues = []
auxSul =  (df_SUL.shape[0] * 100) / total
print('SUL: ', auxSul)
auxValues.append(df_SUL.shape[0])
auxPercent.append(auxSul)

auxNorte =  (df_NORTE.shape[0] * 100) / total
print('NORTE: ', auxNorte)
auxValues.append(df_NORTE.shape[0])
auxPercent.append(auxNorte)

auxNordeste =  (df_NORDESTE.shape[0] * 100) / total
print('NORDESTE: ', auxNordeste)
auxValues.append(df_NORDESTE.shape[0])
auxPercent.append(auxNordeste)

auxCentrooeste =  (df_CENTROOESTE.shape[0] * 100) / total
print('CENTROOESTE: ', auxCentrooeste)
auxValues.append(df_CENTROOESTE.shape[0])
auxPercent.append(auxCentrooeste)

auxSudeste =  (df_SUDESTE.shape[0] * 100) / total
print('SUDESTE: ', auxSudeste)
auxValues.append(df_SUDESTE.shape[0])
auxPercent.append(auxSudeste)

SUL:  12.074321607871376
NORTE:  10.18918044205936
NORDESTE:  28.442690969441976
CENTROOESTE:  8.2652356160487
SUDESTE:  41.02857136457859

In [25]:
csv_input = pd.read_csv('results_for_region.csv')
csv_input['2017'] = auxPercent
csv_input['2017_values'] = auxValues
csv_input.head()

,Region,2012,2012_values,2013,2013_values,2014,2014_values,2015,2015_values,2016,2016_values,2017,2017_values
0,SUL,13.855209,211414,13.893711,227280,13.415808,235897,13.169619,217201,13.859751,260741,12.074322,215637
1,NORTE,9.174896,139998,9.219622,150819,9.028175,158747,8.914857,147029,9.688978,182277,10.189180,181970
2,NORDESTE,26.839642,409541,27.493202,449747,26.701836,469512,27.485754,453311,27.659862,520360,28.442691,507962
3,CENTROOESTE,8.539919,130309,8.366548,136864,11.502595,202256,8.665473,142916,8.453597,159036,8.265236,147610
4,SUDESTE,41.590334,634619,41.026917,671138,39.351586,691939,41.764296,688801,40.337812,758868,41.028571,732735

In [26]:
export_csv = csv_input.to_csv (r'results_for_region.csv', index = None, header=True)